.header {
    display: flex;
    position: relative;
    height: 80px;
    background-color: cornflowerblue;
}

.wraper-h1 {
    margin: auto;
    color: white;
}

h1 {
    font-size: 1.5em;
    font-weight: 400;
}